

html, body { margin: 0; padding: 0; }

body {
        background-color: none;
        /*color:#007cef; */       
        font-family:'Open Sans', sans-serif;
}

h1, h2, h3 {
        color:gray;
}
h4, {
        color:#ffc022;
}

h5  {
        color: red; /* for errors */ 
}

textarea {
    width: 500px;
    height: 50px;
    border: 3px solid gray;
    padding: 5px;
    margin-top: 10px;
    max-width: 500px;
}

/*  for posts */
article {
    padding: 5px 10px;
    background-color: none;
    margin: 1px;
}

/* for quick image resizing */
#cropped {
  width: 200;
  height: 200;
  overflow: hidden;
}

#thumbnail {
  width: 50px;
  height: 50px;
  overflow: hidden;
}


/* Creates a container with no margins and no padding. 
 */
/* You need something to wrap the whole thing up in, this will also control your overall width and positioning */
#wrapper{   
  width: 80%;
  margin:0 auto;    /*this is how you center a div*/
}


/*create header row */
#header {
  position: relative;
  width: 80%;
  height: 100px;
  background-color: slategray;
  border: 4px solid darkslategray;
  box-shadow: inset 0 0 1em lightgray;
  padding: 5px;
  text-align: center;
}

/*create a holder for nav menu: */
#navbar{ 
  position: relative;
  width: 800px;
}

#containermiddle {
  height: auto;
  width:100%;
  background-color: none;
  padding-bottom: 100px;
}

#containermiddle p{
  color: #000;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  height: 100px;
  background-color: #ffc022;
  border-top: gray solid 10px;
  border-bottom: gray solid 10px;
}

#footer p {
  font-size: 15px;
  font-style: italic;
}

/*Styling of the navigation bar*/

#navbar li {
    margin: auto;
    display:inline;
}
#navbar li a {   
   font-family:Arial;
   font-size:12px;
   text-decoration: none;
   padding:10px;
   background-color: gray;
   color:#ffffff;
}
#navbar li a:hover {
   background-color: pink;
   padding-bottom:12px;
   border-bottom:2px;
   border-bottom-color:#000000;
   border-bottom-style:solid;
   margin:-1px;
}

#contentview {
  width:80%;
  height: auto;
  background-color: none;
  margin-left: 50px;
}

#contentview p{
  color: #000;
  font-size: 16px;
}

#contentviewpaneleft {
  width: 50%
  padding: 10px;
  float: left;
}

#contentviewpaneright {
  width: 50%
  padding: 20px;
  float: left;
}

#deletebutton a{
    float:center;
    background-color: gray;
    padding: 5px;
    border: 5px;
    border-radius: 10px;
    color: gold;
}

/*-------------------------------------------------------------------------------------------
button styling
--------------------------------------------------------------------------------------------*/
input[type=button] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #050505;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #e4f2f7 0%,
    #075361);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#e4f2f7),
    to(#075361));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #153b4d;
  -moz-box-shadow:
    0px 1px 3px rgba(151,207,209,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(151,207,209,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
  box-shadow:
    0px 1px 3px rgba(151,207,209,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,1);
}


input[type=button]:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #050505;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #c3d6cd 0%,
    #355956);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#c3d6cd),
    to(#355956));
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #263d33;
  -moz-box-shadow:
    0px 1px 3px rgba(87,145,140,0.5),
    inset 0px 0px 2px rgba(21,61,53,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(87,145,140,0.5),
    inset 0px 0px 2px rgba(21,61,53,1);
  box-shadow:
    0px 1px 3px rgba(87,145,140,0.5),
    inset 0px 0px 2px rgba(21,61,53,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.4);
}

input[type=reset] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #050505;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #e4f2f7 0%,
    #075361);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#e4f2f7),
    to(#075361));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #153b4d;
  -moz-box-shadow:
    0px 1px 3px rgba(151,207,209,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(151,207,209,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
  box-shadow:
    0px 1px 3px rgba(151,207,209,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,1);
}


input[type=reset]:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #050505;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #c3d6cd 0%,
    #355956);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#c3d6cd),
    to(#355956));
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #263d33;
  -moz-box-shadow:
    0px 1px 3px rgba(87,145,140,0.5),
    inset 0px 0px 2px rgba(21,61,53,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(87,145,140,0.5),
    inset 0px 0px 2px rgba(21,61,53,1);
  box-shadow:
    0px 1px 3px rgba(87,145,140,0.5),
    inset 0px 0px 2px rgba(21,61,53,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.4);
}

/*------------------------------------------------------------------------------------------
styling of input fields
------------------------------------------------------------------------------------------*/

.searchfield {
  display: inline-block;
  font: 13px / 1 "Lucida Grande", sans-serif;
  padding: 4px 10px;
  margin: 0 4px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  background: #FFF;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7);
}

.searchfield.focused {
-moz-box-shadow:
  inset 0 0 2px 1px rgba(110, 139, 61, 0.7),
  0 0 4px 1px rgb(110, 139, 61),
  inset 0 1px 2px rgba(0, 0, 0, 0.7);
-webkit-box-shadow:
  inset 0 0 2px 1px rgba(110, 139, 61, 0.7),
  0 0 4px 1px rgb(110, 139, 61),
  inset 0 1px 2px rgba(0, 0, 0, 0.7);
box-shadow:
  inset 0 0 2px 1px rgba(110, 139, 61, 0.7),
  0 0 4px 1px rgb(110, 139, 61),
  inset 0 1px 2px rgba(0, 0, 0, 0.7);
}

